.top-title{
  margin-top:125px;
  background-color: #41aea9;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  font-size: 156.25%;
}

.tulisan-asdos{
  margin-top : 50px;
  font-size : xx-large;
  margin-left: 100px;
}

.top-hr{
  width: 175px;
  margin-left:115px;
}

.profile-cube{
  margin-top: 50px;
}

.photo-datadiri{
  width: 200px;
  height: 200px;
}

.photo-datadiri:hover{
    width: 205px;
    height: 200px;
  }


.Font-photo{
  font-size: large;
  margin-top: 25px;
  background-color: lightgrey;
  width: 225px;
}

.pemisah{
  width: 60%;
  height:2px;
  border-width:0;
  color:gray;
  background-color:gray;
}

.bottom-container{
  margin-top: 75px;
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: #41444b;
  color: white;
}
