{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Data Asdos</title>
    <link rel="icon" href="{% static '/Images/Logo_Fasilkom_UI.gif' %}">

    <!-- Link CSS & Bootstrap -->
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Make it Responsive -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </head>
  <body>


  <!-- Navbar -->
  <div class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="https://scele.cs.ui.ac.id/">
          <img src="{% static '/Images/Logo_Fasilkom_UI.gif' %}" width="50" height="50" alt="">
           Fakultas Ilmu Komputer
          </a>
        </nav>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.cs.ui.ac.id/">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="https://ristek.cs.ui.ac.id/">Project</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About Us
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/visimisi">Visi Misi</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/story1">Contact Me<span class="sr-only">(current)
            </span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>

  <div class="top-title" align = "center">
    DATA DIRI
  </div>
  <p class = "tulisan-asdos">Asisten Dosen
    <hr class = "top-hr">
  </p>


<!-- Bagian data diri biodata -->

  <div align = "center" >

  <div class="row">
    <div class="col-lg">
      <div class="profile-cube">
        <hr class = "pemisah">
        <strong>
        <u><p class = "Font-photo">Asisten Dosen 1</p></u>
          <a href="profile-1">
            <img class="photo-datadiri"src="{% static '/Images/Rizky.png' %}" alt="Muka Asdos">
          </a>
          <p class="Font-photo">Rizky Achmad Fauzan
        </strong>
        <br>Pria
        <hr class = "pemisah">
        </p>
      </div>
    </div>

    <div class="col-lg">
      <div class="profile-cube">
        <hr class = "pemisah">
        <strong>
          <u><p class = "Font-photo">Asisten Dosen 2</p></u>
          <a href="profile-2">
            <img class="photo-datadiri"src="{% static '/Images/Nadia.png' %}" alt="Muka Asdos">
          </a>
          <p class="Font-photo">Nadia Qonita
        </strong>
        <br>Wanita
        <hr class = "pemisah">
        </p>
      </div>
    </div>

    <div class="col-lg">
      <div class="profile-cube">
        <hr class = "pemisah">
        <strong>
          <u><p class = "Font-photo">Asisten Dosen 3</p></u>
          <a href="profile-3">
            <img class="photo-datadiri"src="{% static '/Images/Ibrahim.png' %}" alt="Muka Asdos">
          </a>
          <p class="Font-photo">Maulana Ibrahim
        </strong>
        <br>Pria
        <hr class = "pemisah">
        </p>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-lg">
      <hr class = "pemisah">
      <strong>
        <u><p class = "Font-photo">Asisten Dosen 4</p></u>
        <a href="profile-4">
          <img class="photo-datadiri"src="{% static '/Images/Billie.png' %}" alt="Muka Asdos">
        </a>
        <p class="Font-photo">Billie Rizky
      </strong>
      <br>Pria
      <hr class = "pemisah">
      </p>
    </div>

    <div class="col-lg">
      <hr class = "pemisah">
      <strong>
        <u><p class = "Font-photo">Asisten Dosen 5</p></u>
        <a href="profile-5">
          <img class="photo-datadiri"src="{% static '/Images/Mail.png' %}" alt="Muka Asdos">
        </a>
        <p class="Font-photo">Rafi Ismail
      </strong>
      <br>Pria
      <hr class = "pemisah">
      </p>
    </div>

    <div class="col-lg">
      <hr class = "pemisah">
      <strong>
        <u><p class = "Font-photo">Asisten Dosen 6</p></u>
        <a href="profile-6">
          <img class="photo-datadiri"src="{% static '/Images/Syifa.png' %}" alt="Muka Asdos">
        </a>
        <p class="Font-photo">Asy-Syifa Khoirunisa
      </strong>
      <br>Wanita
      <hr class = "pemisah">
      </p>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-lg">
      <hr class = "pemisah">
      <strong>
        <u><p class = "Font-photo">Asisten Dosen 7</p></u>
        <a href="profile-7">
          <img class="photo-datadiri"src="{% static '/Images/Javier.png' %}" alt="Muka Asdos">
        </a>
        <p class="Font-photo">Javier Noor Utami
      </strong>
      <br>Wanita
      <hr class = "pemisah">
      </p>
    </div>

    <div class="col-lg">
      <hr class = "pemisah">
      <strong>
        <u><p class = "Font-photo">Asisten Dosen 8</p></u>
        <a href="profile-8">
          <img class="photo-datadiri"src="{% static '/Images/Sulthan.png' %}" alt="Muka Asdos">
        </a>
        <p class="Font-photo">Sulthan Ali Pasha Azis
      </strong>
      <br>Pria
      <hr class = "pemisah">
      </p>
    </div>

    <div class="col-lg">
      <hr class = "pemisah">
      <strong>
        <u><p class = "Font-photo">Asisten Dosen 9</p></u>
        <a href="profile-9">
          <img class="photo-datadiri"src="{% static '/Images/Luthfiah.png' %}" alt="Muka Asdos">
        </a>
        <p class="Font-photo">Luthfiah Handayani
      </strong>
      <br>Wanita
      <hr class = "pemisah">
      </p>
    </div>

  </div>

  <br>

  <p class = "tulisan-asdos" align = "left">Dosen Matkul
    <hr class = "top-hr">
  </p>

  <br>
  <br>

  <div class="row">
    <div class="col-lg">
      <hr class = "pemisah">
      <strong>
        <u><p class = "Font-photo">Dosen 1</p></u>
        <img class="photo-datadiri"src="{% static '/Images/Gladhi.png' %}" alt="Muka Dosen">
        <p class="Font-photo">Gladhi Guarddin
          <br>S.Kom., M. Kom.
      </strong>
      <br>Pria
      <hr class = "pemisah">
      </p>
    </div>

    <div class="col-lg">
      <hr class = "pemisah">
      <strong>
      <u><p class = "Font-photo">Dosen 2</p></u>
      <img class="photo-datadiri"src="{% static '/Images/Iis.png' %}" alt="Muka Dosen">
      <p class="Font-photo">Iis Afriyanti
        <br>S.Kom, M.Sc.
      </strong>
      <br>Wanita
      <hr class = "pemisah">
      </p>
    </div>
  </div>
  </div>


  <div class="bottom-container" align = "center">
    <p> Fakultas Ilmu Komputer Universitas Indonesia@2020</p>
  </div>

  </div>

  </body>
</html>
