{{% extends 'base.html' %}
{% load static %}

{%  block content %}

    <div class="container"  align = "center">
      <hr class = "batas">
      <div class="row">
        <div class="col-sm">
          <img class = "data-profile" src="{% static '/Images/Luthfiah.png' %}" alt="profile-Asdos">
        </div>
        <div class="col-sm">
          <p class = "name-data" align = "left"><strong>Luthfiah Handayani</strong></p>
          <p class="name-fill" align = "left"> CATATAN KEGIATAN :</p>
          <ul align = "left">
            <li>Jumlah SKS : 22 SKS</li>
            <li>Jumlah Kehadiran Sesi Lab : 3 kali</li>
            <li>Organisasi / Kepanitian  yang sedang dijalani :</li>
            <ol>
              <li>FUKI Fasilkom</li>
            </ol>
          </ul>
        </div>
      </div>
      <hr class = "batas">
    </div>

    <div align = "center">
      <h4 class="status-title">STATUS PEMERIKSAAN</h4>

      <table class="table table-bordered" style = "width : 400px;">
        <tbody align = "center">
          <tr>
            <td style="color:Green">Materi 1 <br> PPW</td>
            <td style="color:Red">Materi 2 <br> PPW</td>
            <td style="color:Red">Materi 3 <br> PPW</td>
          </tr>
          <tr>
            <td style="color:Red">Materi 4 <br> PPW</td>
            <td style="color:Red">Materi 5 <br> PPW</td>
            <td style="color:Red">Materi 6 <br> PPW</td>
          </tr>
          <tr>
            <td style="color:Red">Materi 7 <br> PPW</td>
            <td style="color:Red">Materi 8 <br> PPW</td>
            <td style="color:Red">Materi 9 <br> PPW</td>
          </tr>
          <tr>
            <td style="color:Red">Materi 10 <br> PPW</td>
            <td style="color:Red">Materi 11 <br> PPW</td>
            <td style="color:Red">Materi 12 <br> PPW</td>
          </tr>
        </tbody>
      </table>

      <p>Status :</p>
      <p style="color:Green">- Green = Done</p>
      <p style="color:Red">- Red = Undone</p>
      <br>
    </div>

{% endblock %}

