{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!--Penggunaan meta adalah Settings dari browser yang berfungsi untuk.
  menkontrol bagaimana browser membaca website kita (meta charset, description + content, etc.)-->
  <meta charset="utf-8">
  <title>My Personal Site</title>
  <!-- Styling structure : Inline,Internal,External -->
  <link rel="stylesheet" href="{% static '/css/story1styles.css' %}">
</head>

<body>

  <div class="upper"  align = "center">
    <h1><u>MY PROFILE</u></h1>
    <br>
    <a href=https://id.linkedin.com/in/rizky-achmad-fauzan-b2a41b144 target="_blank">
        <img src="{% static '/Images/Rizky.png' %}" alt="Rizky's profile picture">
    </a>
    <h1>Rizky Achmad Fauzan</h1>
    <strong>Mahasiswa <a href="https://www.ui.ac.id/">Universitas Indonesia</a></strong>
    <br>
    <strong>Mahasiswa Angkatan : 2019</strong>
    <br>
    <strong>NPM : 1906305713</strong>
    <br>
    <strong>Hobi : Ngoding</strong>
    <br>
    <strong>Deskripsi : Nama saya Rizky Achmad Fauzan dan umur saya  19 tahun. Sekarang saya merupakan Mahasiswa Fasilkom
    di Universitas  Indonesia. </strong>
    <br>
    <strong>Saya sendiri memiliki 3 bersaudara, yang pertama berjenis kelamin perempuan  dan  yang
    kedua berjenis kelamin  laki-laki.</strong>
    <br>
    <br>
    <strong>OH IYA!!! Doain saya lulus Matkul  Ini yaaa!!!</strong>
  </div>

  <hr>
  <div class="education"  align = "center">
    <h3>Riwayat Pendidikan : </h3>

    <!--3 Main component  in Table (thead(title table),tbody(main),tfoot)-->
    <table border="3">

      <thead>
        <tr>
          <th>Year</th>
          <th>Education</th>
          <th>Major</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>2019-sekarang</td>
          <td>Universitas Indonesia</td>
          <td>Computer Science - Information System</td>
        </tr>
        <tr>
          <td>2016-2019</td>
          <td>SMA Negeri 38 Jakara</td>
          <td>Science</td>
        </tr>
        <tr>
          <td>2013 - 2016</td>
          <td>SMP Negeri 41 Jakarta</td>
          <td>Mixed</td>
        </tr>
        <tr>
          <td>2007 - 2013</td>
          <td>SD Islam Al-Azhar 2 Pasar Minggu</td>
          <td>Mixed</td>
        </tr>
      </tbody>

      <tfoot>

      </tfoot>

    </table>
  </div>

  <br>
  <hr>
  <div class="contact"align = "center">
    <h3>Contact Me :</h3>
    <tr>
      <td><a class = "ig" href="https://instagram.com/pa.me.ku?igshid=wa2urahws39"><img src="{% static '/Images/instagram.png' %}" alt="intagram"></a></td>
      <td><a class = "wa" href=https://linktr.ee/pa.me.ku><img src="{% static '/Images/whatsapp.png' %}" alt="whatsapp"></a></td>
    </tr>


  </div>

</body>

</html>
