{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Visi Misi</title>
    <link rel="icon" href="{% static '/Images/Logo_Fasilkom_UI.gif' %}">

    <!-- Link CSS & Bootstrap -->
    <link rel="stylesheet" href="{% static '/css/styles-vm.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />

    <!-- Make it Responsive -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </head>
  <body>

    <!-- Navbar -->
    <div class="container-fluid">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <nav class="navbar navbar-dark bg-dark">
          <a class="navbar-brand" href="#">
            <img src="{% static '/Images/Logo_Fasilkom_UI.gif' %}" width="50" height="50" alt="">
             Fakultas Ilmu Komputer
            </a>
          </nav>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.cs.ui.ac.id/">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="https://ristek.cs.ui.ac.id/">Project</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/visimisi">Visi Misi</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/story1">Contact Me <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>

    <div class="top-title" align = "center">
      VISI MISI
    </div>

    <div class="text-fill">
      <p>
        <strong>Visi</strong>
        <br>
        “Fakultas Ilmu Komputer UI sebagai pusat unggulan di bidang Ilmu Komputer dan Teknologi Informasi di Indonesia yang diakui oleh masyarakat ilmiah internasional, sehat secara organisasi dan berkontribusi secara nyata pada peningkatan daya saing bangsa Indonesia”.
        <br>
        <br>
        Visi ini mengandung makna bahwa Fasilkom UI bertekad menjadi “top referral” bagi perkembangan ilmu komputer dan teknologi informasi di Indonesia. Artinya, Fasilkom UI harus menjadi institusi terdepan dalam mengembangkan ilmu komputer dan teknologi informasi di Indonesia. Visi ini dipilih karena secara historis, Fasilkom yang lahir dari Pusilkom merupakan institusi pertama di Indonesia yang berkecimpung dalam bidang ilmu komputer. Disamping itu, sumber daya yang dimiliki sangat memadai untuk menjadi institusi yang mampu bersaing di tingkat internasional.
        <br>
        <br>
        <strong>Misi</strong>
        <br>

        Untuk mewujudkan visi di atas, Fasilkom UI mengemban misi sebagai berikut:
        <br>
        <ul>
          <li>Pendidikan: menghasilkan lulusan yang mampu bersaing di pasar global</li>
          <li>Penelitian dan layanan: menciptakan, mengembangkan dan menerapkan ilmu pengetahuan dan teknologi komunikasi dan informasi yang relevan dengan peningkatan daya saing bangsa Indonesia</li>
          <li>Outreach Programs : bertanggung jawab secara moral dan sosial pada pengembangan kecerdasan dan martabat</li>
        </ul>
      </p>
    </div>


    <div class="bottom-container" align = "center">
      <p> Fakultas Ilmu Komputer Universitas Indonesia@2020</p>
    </div>


  </body>
</html>
